{% extends 'base.html' %} {% block content %}

<section class="bg-delivery">
<div class="container py-5">
  <div class="position-relative m-4">
    <div class="progress" style="height: 1px">
      <div
        class="progress-bar"
        role="progressbar"
        aria-label="Progress"
        style="width: 0%"
        aria-valuenow="50"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>
    <button
      type="button"
      class="position-absolute top-0 start-0 translate-middle btn btn-sm btn-primary rounded-pill"
      style="width: 2rem; height: 2rem"
    >
      1
      <p class="text-black p-2 times"><b>Delivery</b></p>
    </button>
    <button
      type="button"
      class="position-absolute top-0 start-50 translate-middle btn btn-sm btn-secondary rounded-pill"
      style="width: 2rem; height: 2rem"
    >
      2
      <p class="text-muted p-2 times"><b>payment</b></p>
    </button>
    <button
      type="button"
      class="position-absolute top-0 start-100 translate-middle btn btn-sm btn-secondary rounded-pill"
      style="width: 2rem; height: 2rem"
    >
      3
      <p class="text-muted p-2 times"><b>Summary</b></p>
    </button>
  </div>
  <br />
  <div>
    <a href="{% url 'user:add_address' %}"
      ><label class="font times"
        ><i class="fa-solid fa-plus"></i>ADD NEW ADDRESS</label
      ></a
    >
  </div>
  <br />
  {% if user.profilemodel %}
  <div class="card">
    <div class="card-body">
      <div class="card-title font times">
        <p><b>{{user.profilemodel.first_name}} {{user.profilemodel.last_name}}</b></p>
      </div>
        <div class="card-text times font-5">
          <p>{{user.profilemodel.address}}</p>
          <p>{{user.profilemodel.phone_number}}</p>
          <a href=""><button class="btn btn-info grey font-1">EDIT</button></a>
        </div>
    </div>
    <div class="text-end m-3 font p-2">
      <a href="{% url 'core:payment' %}" ><button class="btn btn-primary">Deliver To This Address</button></a>
    </div>
    {% endif %}    
  </div>
</div>
</section>
{% endblock content %}
