{% extends 'base.html' %} {% block content %}

<body class="bg-image-about">
  <div class="container py-5">
    <!-- collapse -->
    <p class="text-end">
      <a class="btn btn-dark font roboto" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">NOTICE</a>
      <button class="btn btn-dark font roboto" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">
        RCMS E-SERVICES </button>
    </p>
    <div class="row">
      <div class="col">
        <div class="collapse multi-collapse" id="multiCollapseExample1">
          <div class="card card-body font-1 times">
            <p>E-Services for Ration Card Management System was launched on 18th July 2018 in two taluks and enhanced throughout the State on 4th August 2018.</p>
            <hr>
            <p>Ration Card holders and residents will be able to register and log into the e-Citizen service portal and avail the services.</p>
          </div>
        </div>
      </div>
    </div>
      <div class="col">
        <div class="collapse multi-collapse" id="multiCollapseExample2">
          <div class="card card-body font-1 times">
            <p>e-Services(RCMS) intend to provide services related to Ration Card management System to citizens & ration card holders through Common Service Centers(CSC) which are easily accessible.</p><hr>
            <p>Applications submitted by the CSCs are processed using the work-flow based web enabled e-services at the Taluk Supply Offices/City Rationing Offices in the State.</p><hr>
            <p>e-Services utilizes backend computerization to e-enable the delivery of services and ensures transparency and uniform application of rules. It helps in minimizing time and effort to provide prompt and effective service to the public.</p>
          </div>
        </div>
      </div>
    
  
    <div class="row">
      <h1 class="font-2"><b>ABOUT</b></h1>
      <br>
      <p class="text-justify font">
        Ration shops are structured to provide food stocks and other household
        things to the poor sections of the society. They give the stocks to the
        poor individuals as settled based on the Issue price. The issue price is
        the cost chosen by the government on which the ration shops will offer
        the goods to the poor ones.Locally these are known as ration shops and
        public distribution shops, and chiefly sell wheat, rice and sugar at a
        price lower than the market price called Issue Price. Other essential
        commodities may also be sold. To buy items one must have a ration card.
        It is an online platform to purchase the ration items online by just a
        single touch.
      </p>
    </div>
  </div>
  <hr />
  <div class="container">
    <p class="font-2">For more Details :</p>
    <div class="card">
      <div class="card-body">
        <div class="card-title font">
          <p><label class="fa-solid fa-phone"></label><b> Contact US :</b></p>
          <div class="card-text">
            <table>
              <tbody>
                <tr>
                  <td>Name :</td>
                  <td>---------</td>
                </tr>
                <tr>
                  <td>Email :</td>
                  <td>---------</td>
                </tr>
                <tr>
                  <td>Phone No :</td>
                  <td>---------</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
{% endblock content %}
