{% extends 'base.html' %} {% block content %}
  <!-- header -->
<body class="bg-image-home">
  <div class="container py-5">
        <p class="font-3 text-center roboto"><b>Online Ration Service</b></p>
        <p class="text-center font poppins fst-italic">
          Here is to remind your Ration is here! Wanna take a look
        </p>
  </div>
    <!-- carousel -->
    <div class="container">
      <section class="hero-section">
        <div
          id="carouselExampleControls"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="media/default/img4.jpg"
                height="850px"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="media/default/img2.jpg"
                height="850px"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="media/default/img5.jpg"
                height="850px"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="media/default/img6.jpg"
                height="850px"
                class="d-block w-100"
                alt="..."
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </section>
    </div>
    <br />
    <section>
      <div class="container py-5">
        <div class="dropdown-center font roboto text-center">
          <label>Choose Your Language :</label>
          <button
            class="btn btn-primary active dropdown-toggle font-1"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <b><input placeholder="Select Language" /></b>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item link-active font-1 poppins" href="#"
                ><b>English</b></a
              >
            </li>
            <li>
              <a class="dropdown-item link-active font-1 poppins" href="#"
                ><b>Malayalam</b></a
              >
            </li>
          </ul>
        </div>
      </div>
    </section>
    <!-- card -->
    <section>
      <div class="container py-5">
        <p class="font text-center times"><b>SELECT YOUR CARD TYPE :-</b></p>
        <hr />
        <div class="row row-cols-md-4 g-4">
          
        </div>
      </div>
    </section>
  </body>
</html>

{% endblock content %}
