<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- stylesheets -->
    <link
      rel="stylesheet"
      href="../../static/bootstrap-5.2.1-dist/css/bootstrap.css"
    />
    <link
      rel="stylesheet"
      href="../../static/fontawesome-free-6.2.0-web/css/all.css"
    />
    <link rel="stylesheet" href="../../static/css/style.css" />
    <title>Product Puchased</title>
</head>
<body>
    <div class="row">
        <div class="colspan-4 m-5">
            <div class=" position-absolute bottom-50 text-center">
                <i class="fa-regular fa-circle-check fa-8x text-primary"></i>
            </div>    
            <div class="position-absolute top-50 font-3">
                <p class="text-primary" style="font-family:times ;">Successfully Purchased</p>
            </div>
        </div>
    </div>
    
    





    <!-- scripts -->
    <script src="../../static/bootstrap-5.2.1-dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../static/fontawesome-free-6.2.0-web/js/all.min.js"></script>
    <script src="../../static/js/script.js"></script>   
</body>
</html>