<nav class="navbar navbar-expand-lg bg-color">
  <div class="container-fluid">
    <img src="logo1.png" class="navbar-brand" />
    <a class="navbar-brand color-primary p-4" href="#"><b>ORD</b> </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link link-light active font-4 poppins"
            aria-current="page"
            href="{% url 'core:home' %}"
            ><b>Home</b></a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link link-light active font-4 poppins"
            href="{% url 'core:feedback_list' %}"
            ><b>Feedback</b></a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link link-light active font-4 poppins"
            href="{% url 'core:about_us' %}"
            ><b>About US</b></a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active font poppins"
            href="{% url 'core:product_delivery' %}"
            >Delivery</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active font poppins"
            href="{% url 'core:product_summary' %}"
            >summary</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link link-light active font-4 poppins"
            href="{% url 'core:profile' %}"
            ><b>Profile</b></a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link link-light active font-4 poppins"
            href="{% url 'core:payment' %}"
            ><b>Payment</b></a
          >
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2 fst-italic"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-primary font times" type="submit">
          Search
        </button>
      </form>
    </div>
  </div>
</nav>
