<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- stylesheets -->
    <link rel="stylesheet" href="../../static/bootstrap-5.2.1-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/fontawesome-free-6.2.0-web/css/all.css">
    <link rel="stylesheet" href="../../static/css/style.css">

    <title>Edit profile Information</title>
</head>


<body class="container py-5 font times m-50">
    <div class="text-center">
        <p><i class="fa-regular fa-user"></i></p>
        <p><button type="button" class="btn btn-info p-2"><i class="fa-solid fa-camera-retro"></i>
        Add Picture</button></p>
    </div>
    <div class="mb-3">
        <label class="form-label">Full Name </label>
        <input type="text" class="form-control" placeholder="name">
    </div>
    <div class="mb-3">
        <label class="form-label">Phone Number</label>
        <input type="text" class="form-control" placeholder="1234567890">
    </div>
    <div class="mb-3">
        <label class="form-label">Email address</label>
        <input type="email" class="form-control" placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label class="form-label">Gender</label>
        <input type="text" class="form-control" placeholder="Male/ Female/ Others">
    </div>
    <div class="mb-3">
        <label class="form-label">Occupation</label>
        <input type="text" class="form-control" placeholder="job">
    </div>
    <div class="mb-3">
        <label class="form-label">Address</label>
        <input type="text" class="form-control" placeholder="House No / Building Name">
    </div>
    <div class="mb-3">
        <label class="form-label">Pincode</label>
        <input type="text" class="form-control" placeholder="123456">
    </div>
    <div class="mb-3">
        <label class="form-label">City</label>
        <input type="text" class="form-control" placeholder="place">
    </div>
    <div class="mb-3">
        <label class="form-label">State</label>
        <input type="text" class="form-control" placeholder="Kerala">
    </div>
    <div class="text-center">
        <a href="{% url 'core:profile' %}"><button type="button" class="btn btn-primary font">Save</button></a>
    </div>
    

    <!-- scripts -->
    <script src="../../static/bootstrap-5.2.1-dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../static/fontawesome-free-6.2.0-web/js/all.min.js"></script>
    <script src="../../static/js/script.js"></script>                      
</body>
</html>