<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- stylesheets -->
    <link
      rel="stylesheet"
      href="../../static/bootstrap-5.2.1-dist/css/bootstrap.css"
    />
    <link
      rel="stylesheet"
      href="../../static/fontawesome-free-6.2.0-web/css/all.css"
    />
    <link rel="stylesheet" href="../../static/css/style.css" />

    <title>Profile</title>
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-color">
      <div class="container-fluid">
        <a class="navbar-brand color-primary p-3" href="#"><b>ORD</b> </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link link-light active font-4 poppins"
                aria-current="page"
                href="{% url 'core:profile' %}"
                ><b>Profile</b></a
              >
            </li>
          </ul>
          <div class="nav-item text-end">
            <a
              class="nav-link link-light active poppins"
              href="{% url 'core:add_details' %}"
              ><button class="btn button font-4"><b>EDIT PROFILE</b></button></a
            >
          </div>
        </div>
      </div>
    </nav>
    <!-- body -->
    <div class="container py-5 font times">
      <img src="" />
      <div class="card">
        <div class="card-title p-3">
            <i class="fa-regular fa-user"></i>
          <label><b>Name</b></label>
          <div class="card-body">
            <p>Place</p>
            <p>State</p>
          </div>
        </div>
      </div>
      <br />
      <div class="card">
        <div class="card-title p-3">
          <p><b>About Me</b></p>
          <a href="{% url 'core:add_details' %}"
            ><button type="button" class="btn btn-info times">
              ADD DETAILS
            </button></a
          >
        </div>
      </div>
      <br />
      <div class="card">
        <div class="card-title p-3">
          <p><b>My Activity</b></p>
          <a href=""
            ><button type="button" class="btn btn-info times">
              VIEW DETAILS
            </button></a
          >
        </div>
      </div>
    </div>

    <!-- scripts -->
    <script src="../../static/bootstrap-5.2.1-dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../static/fontawesome-free-6.2.0-web/js/all.min.js"></script>
    <script src="../../static/js/script.js"></script>
  </body>
</html>
