{% extends 'base.html' %}{% block content %}

<section class="gradient-profile" style="min-height:100vh">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card">
          <div
            class="rounded-top text-white d-flex flex-row"
            style="background-color: #000; height: 200px"
          >
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px">
              {% if user.profilemodel %}
              <img
                src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                alt="Generic placeholder image"
                class="img-fluid img-thumbnail mt-4 mb-2"
                style="width: 150px; z-index: 1"
              />
              
              <button
                type="button"
                class="btn btn-outline-dark"
                data-mdb-ripple-color="dark"
                style="z-index: 1"
              >
                <a href="{% url 'user:profile_update' user.profilemodel.id %}">Edit profile
              </button></a>
            </div>
            <div class="ms-3" style="margin-top: 130px">
              <h5 class="text-capitalize">{{user.profilemodel.user}}</h5>
              <p>{{core.cardcategorymodel.name}}</p>
            </div>
          </div>
          <div class="card">
            <div class="card-body p-4 text-black">
              <div class="mb-5 text-center">
                <p class="lead fw-normal mt-5 text-center">About</p>
                <div class="pt-1" style="background-color: #f8f9fa">
                  <p class="font-italic mb-1 text-capitalize">
                    First_name : {{user.profilemodel.first_name}}</p>
                  <p class="font-italic mb-1 text-capitalize">
                    Last_name : {{user.profilemodel.last_name}}</p>
                  <p class="font-italic mb-1 text-capitalize">
                    Gender : {{user.profilemodel.gender}}</p>
                  <p class="font-italic mb-1">
                    phone_number : {{user.profilemodel.phone_number}}</p>
                </div>
             
              </div> 
              {% else %}
                <tr>
                  <td colspan="5">
                    <a href="{% url 'user:profile_create' %}" class="text-light">
                    Create Profile
                    </a>
                  </td>
                </tr>             
              {% endif %}                    
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}