{% extends 'base.html' %} 
{% block content %}

<section class="bg-image-about">
<div class="container py-5 font">
  <div class="row">
    <div class="col">
      <h1 class="font-3 times"><b>Feedback Form</b></h1>
      <p class="text-justify roboto text-muted">
        <br>
        Write your opinion about our services... 
      </p>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body times bg-image-about">
          <form action="" method="post">
            {% csrf_token %}
            <table>
                <tbody>
                    {{form.as_p}}
                </tbody>
            </table>
            <button class="btn btn-primary" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

{% endblock content %}